.login-image-wr {
	padding: 44px 0 24px;

	img {
		display: block;
		width: 65%;
		margin: 0 auto;
	}
}

.login-error {
	color: #d63535;
	font-size: 15px;
	text-align: center;
	padding-top: 0;
}

.login-btn-wr {
	padding: 0 16px 16px;
}

//.login-btn-wr {
//	display: flex;
//	padding-bottom: 14px;
//
//	.btn {
//		width: 70%;
//		margin: 0 auto;
//	}
//}
